* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
html, body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}
#app {
  height: 100%;
  width: 100%;
  position: absolute;
}
* {
  /*overflow: auto;*/
}
body {
  font-family: "Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

.red-dot {
  border-radius: 100%;
  border: 1px solid #ff6d6f;
  width: 9px;
  height: 9px;
  background: #ff6d6f;
  position: absolute;
  top: 10px;
  right: 10px;
}
a { text-decoration: none }
.clear-float {
  zoom: 1;
}
.clear-float:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.flex-row {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;         /* OLD - Firefox 19- (buggy but mostly works) */  
  display: -ms-flexbox;      /* TWEENER - IE 10 */ 
}
.flex-row-nw {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;         /* OLD - Firefox 19- (buggy but mostly works) */  
  display: -ms-flexbox;      /* TWEENER - IE 10 */ 
  -webkit-flex-wrap: wrap;  
  -moz-flex-wrap: wrap;  
  -ms-flex-wrap: wrap;  
  -o-flex-wrap: wrap;  
  flex-wrap: wrap;  
}
.flex-row-vc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;         /* OLD - Firefox 19- (buggy but mostly works) */  
  display: -ms-flexbox;      /* TWEENER - IE 10 */ 
  -webkit-flex-direction: column;  
  -moz-flex-direction: column;  
  -ms-flex-direction: column;  
  -o-flex-direction: column;  
  flex-direction: column;
}
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
.base-btn {
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  /*position: absolute;
  right: 15px;
  bottom: 15px;*/
  background-color: #ffdbe7;
  color: #ed2668;
  border: 1px solid #ffa7c4;
}

input[type="text"],
input[type="password"],
input[type="phone"],
input[type="number"],
input[type="tel"],
input[type="search"] {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #CCCCCC;
  outline: none;
}
.mint-cell input[type="text"],
.mint-cell input[type="password"],
.mint-cell input[type="phone"],
.mint-cell input[type="number"],
.mint-cell input[type="tel"],
.mint-cell input[type="search"] {
  border: 0;
}
textarea {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
}
input {
  -webkit-user-select: auto!important;
  user-select: auto!important;
  -webkit-touch-callout: inherit!important;
  touch-callout: inherit!important;
}
.mint-msgbox-btn {
  font-size: 16px !important;
}
